
.sidebar {
    position: fixed;
    /*고정 위치 */
    top: 60px;
    /* 헤더 아래에서 시작 */
    left: 0;
    /* 왼쪽 끝에 고정 */
    width: 330px;
    /* 사이드바 너비 */
    height: calc(100vh - 60px);
    /* 전체 높이에서 헤더 높이를 뺌 */
    background-color: #f8f9fa;
    /* 배경 색상 */
    padding: 0px;
    /* 패딩 추가 */
    box-Shadow: 2px 0 2px 2px rgba(0, 0, 0, 0.1);
    /* 그림자 추가 (선택 사항) */
    z-index: 1000;
    /* 사이드바 위에 표시되도록 z-index 추가 */
}

.sidebar h3{
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 20px;
    margin: 0;
}

.sidebar hr{
    margin: 0;
}

.content {
    overflow: hidden; /* 내용이 넘칠 경우 숨깁니다. */
    max-height: 0; /* 초기 높이는 0으로 설정 */
    transition: max-height 0.3s ease, padding 0.3s ease; /* 높이와 패딩에 애니메이션 효과 추가 */
    padding: 0; /* 초기 패딩 */
}

.content.open {
    max-height: 100px; /* 최대 높이를 설정하여 애니메이션 효과를 줍니다. */
    padding: 10px 0; /* 패딩 추가 */
    background-color: #ada1a124;
}

.nav-link {
    padding: 7%;
    font-size: 2vh;
    background-color: #f8f9fa; /* 기본 배경 색상 */
    text-decoration: none; /* 밑줄 제거 */
    display: block; /* 블록 요소로 설정 */
    transition: background-color 0.3s; /* 배경색 전환 효과 */
    font-weight: bold;  /*글자 굵게 */
    color: black;   /*글자 색*/
}

.nav-link:hover {
    background-color: #e2e6ea; /* 호버 시 색상 */
    color: black; 
}

.nav-link.active {
    background-color:#dc3545; /* 클릭된 경우 배경색 */
    color: white; /* 텍스트 색상 변경 */
}


/* 모바일 및 태블릿에서 사이드바 숨기기 */
@media (max-width: 768px) {
    .sidebar {
        width: 100%; /* 모바일에서는 전체 너비 */
        top: 0; /* 헤더와 겹치지 않도록 조정 */
        height: auto; /* 높이 자동 조정 */
        position: relative; /* 고정 해제 */
    }

    main {
        margin-left: 0; /* 사이드바의 마진 제거 */
        margin-top: 60px; /* 헤더 높이만큼 마진 추가 */
    }
}